/***

====================================================================
    Clients Section
====================================================================

***/

.clients-section{
  position: relative;
  padding: 40px 0 96px;
  background-color: #F5F5F5;
  [data-tm-layout="dark"] & {
    background-color: var(--dark-color1);
  }
  .carousel-outer {
    margin: 0 -44px;
  }
}

// Client Block
.client-block {
  .inner-box {
    &:hover {
      .image-box {
        .image {
          img {
            opacity: .6;
          }
        }
      }
    }
    .image-box {
      .image {
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        img {
          opacity: 1;
          width: auto;
          @include transition(all 300ms ease);
          [data-tm-layout="dark"] & {
            filter: invert(80%);
          }
        }
      }
    }
  }
}


