/***

==================================================================
    Video Section
==================================================================

***/

.video-section {
  position: relative;
  padding: 182px 0 173px;
  @include media-breakpoint-down(md){
    padding: 100px 0 140px;
  }
  .bg.bg-image{
    [data-tm-layout="dark"] & {
      filter: invert(1);
    }
  }
  .sec-title {
    @include media-breakpoint-down(lg){
      text-align: center;
    }
    h2 {
      br {
        display: none;
        @include media-breakpoint-down(lg){
          display: block;
        }
      }
      @include media-breakpoint-down(xxl){
        font-size: 50px;
      }
      @include media-breakpoint-down(xl){
        font-size: 45px;
      }
      @include media-breakpoint-down(sm){
        font-size: 33px;
      }
    }
    .pricing-btn {
      padding: 15px 32px 15px 32px;
      margin-top: 39px;
      @include media-breakpoint-down(sm){
        padding: 13px 25px;
        margin-top: 26px;
      }
    }
    .info-box {
      display: flex;
      align-items: center;
      margin-top: 40px;
      @include media-breakpoint-down(lg){
        flex-direction: column;
      }
      .theme-btn  {
        margin-right: 30px;
      }
      .outer-box {
        top: 0;
      }
    }
  }
  .outer-box{
    align-items: center;
    display: flex;
    top: 36px;
    position: relative;
    justify-content: flex-end;
    @include media-breakpoint-down(lg){
      justify-content: center;
      margin-top: 100px;
      top: 0;
    }
    @include media-breakpoint-down(sm){
      margin-top: 70px;
    }
    h4 {
      font-weight: 500;
      margin-bottom: 0;
      margin-right: 51px;
      position: relative;
      &:before {
        background-image: url(/assets/images/icons/icon-arrow1.png);
        content: "";
        position: absolute;
        bottom: -35px;
        right: -28px;
        width: 73px;
        height: 42px;
      }
    }
    .play-now {
      border-radius: 50%;
      position: relative;
      display: inline-block;
      &:after {
        content: "";
        border: 1px dashed #C2A74E;
        border-radius: 50%;
        bottom: 0;
        top: -8px;
        left: -8px;
        right: 0;
        position: absolute;
        width: 100px;
        height: 100px;
      }
      &::before {
        display: none;
      }
      &:hover {
        background-color: var(--theme-color1);
        border-color: var(--theme-color1);
        color: var(--theme-color-light);
        .icon {
          color: var(--theme-color-light);
        }
      }
      .icon {
        background-color: var(--theme-color1);
        color: var(--theme-color-light);
        font-size: 24px;
        height: 84px;
        width: 84px;
        line-height: 84px;
      }
    }
  }
}


/***

==================================================================
    Video Section Two
==================================================================

***/

.video-section-two {
  position: relative;
  padding: 99px 0 252px;
  @include media-breakpoint-down(md){
    padding: 100px 0;
  }
  &:before {
    background-color: rgba(var(--theme-color1-rgb), .9);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .content {
    text-align: center;
    position: relative;
    z-index: 1;
    .play-now {
      border-radius: 50%;
      position: relative;
      display: inline-block;
      &::before {
        display: none;
      }
      &:hover {
        .icon {
          color: var(--theme-color1);
        }
      }
      .icon {
        background-color: var(--theme-color-light);
        color: var(--theme-color1);
        font-size: 24px;
        height: 90px;
        width: 90px;
        line-height: 90px;
      }
    }
    h3 {
      color: var(--theme-color-light);
      font-weight: 600;
      line-height: 48px;
      margin-top: 15px;
      br {
        @include media-breakpoint-down(lg){
          display: none;
        }
      }
    }
  }
}




/***

==================================================================
    Video Section Three
==================================================================

***/

.video-section-three {
  position: relative;
  padding: 99px 0 80px;
  overflow: hidden;
  @include media-breakpoint-down(md){
    padding: 100px 0;
  }
  &:before {
    background-color: rgba(var(--theme-color1-rgb), .9);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    [data-tm-layout="dark"] & {
      background-color: rgba(var(--theme-color2-rgb), .9);
    }
  }
  .video1 {
    background-image: url(/assets/images/resource/video1.png);
    position: absolute;
    width: 429px;
    height: 379px;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
    @include media-breakpoint-down(lg){
      display: none;
    }
  }
  .content {
    position: relative;
    text-align: center;
    z-index: 1;
    .play-now {
      border-radius: 50%;
      display: inline-block;
      position: relative;
      &::before {
        display: none;
      }
      &:hover {
        .icon {
          color: var(--theme-color1);
        }
      }
      .icon {
        background-color: var(--theme-color-light);
        color: var(--theme-color1);
        font-size: 24px;
        height: 90px;
        line-height: 90px;
        width: 90px;
      }
    }
    h3 {
      color: var(--theme-color-light);
      [data-tm-layout="dark"] & {
        color: var(--headings-color);
      }
      font-weight: 600;
      line-height: 48px;
      margin-top: 15px;
      br {
        @include media-breakpoint-down(lg){
          display: none;
        }
      }
    }
  }
}


@-webkit-keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@-webkit-keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
@keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video;
	animation-name: modal-video;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
	opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
}
.modal-video-body {
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.modal-video-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
@media (orientation: landscape) {
	.modal-video-inner {
	padding: 10px 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
}
.modal-video-movie-wrap {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	background-color: #333;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video-inner;
	animation-name: modal-video-inner;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	top: -45px;
	right: 0px;
	display: inline-block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	border: none;
	background: transparent;
}
@media (orientation: landscape) {
	.modal-video-close-btn {
	top: 0;
	right: -45px;
	}
}
.modal-video-close-btn:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.modal-video-close-btn:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.modal-video-close-btn:before, .modal-video-close-btn:after {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #fff;
	border-radius: 5px;
	margin-top: -6px;
}

