//Root for dark
body[data-tm-layout="dark"] {
  --dark-color1: #1C1A1D;
  --dark-color2: #011425;
  --dark-color3: #051B05;

  --theme-color-white: var(--dark-color2);
  --theme-color-white-rgb: 255, 255, 255;
  --theme-color-light: var(--dark-color2);
  --theme-color-gray: var(--dark-color3);

  --body-color: var(--dark-color1);
  --headings-color: #fff;
  --theme-color-dark: #fff;
  --sec-title-color: #fff;
  --link-color: #CFCFCF;
  --text-color: #cccccc;
  --sec-title-subtitle-color: #ffffff;
}